@font-face {
  font-family: Ribeye;
  font-style: normal;
  font-weight: normal;

  src: url("../fonts/Ribeye-Regular.woff") format("truetype");
}

@font-face {
  font-family: Gelasio;
  font-style: normal;
  font-weight: normal;

  src: url("../fonts/Gelasio-Medium.woff") format("truetype");
}

@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;

  src: url("../fonts/roboto-regular-webfont.woff2") format("truetype");
}
